div {margin-top: 50px;}
.cv {margin-top: 100px;}
header {text-align: center;
background-color: rgba(230, 230, 230, 1);
}

h1 {text-align: center;}

.titulo {background-color: #C4C4C4; color:#005677;    letter-spacing: 5px;}

#nombre {font-style: italic;font-weight: bolder;}


.final {background-color:#005677;font-family: 'Times New Roman', Times, serif; color: white; text-align: center;letter-spacing: 5px;font-weight: bold; font-weight: bold; font-size:20px;}

